:root {
  --large-font: 22pt;
  --medium-font: 16pt;
  --small-font: 12pt;

  --color-electric-blue: #007bff;
  --color-eco-green: #00cc66;
  --color-electric-yellow: #ffd600;
  --color-critical-red: #ff3d00;
  --color-light-gray: #ffffff;
  --color-dark-gray: #d3d3d3;

  --primary-color: var(--color-electric-blue);
  --primary-opacity: 0.9;
  --secondary-color: var(--color-light-gray);
  --secondary-opacity: 0.9;
}

body {
  color: rgba(255, 255, 255, 0.95);
  font-size: var(--small-font);
  font-weight: 240;
  overflow-y: auto;
  overflow-x: hidden;
  margin: 0;
  min-height: 100vh;
  background: linear-gradient(to bottom right, #000022, #000044, #08233e);
}

.main {
  padding-top: 30px;
  margin: auto;
  max-width: 80vw;
  gap: 1em;
}

.section {
  height: 400px;
  background-color: rgba(30, 30, 30, 0.5);
  border: 1px solid rgba(70, 70, 70, 0.9);
  border-radius: 0px 30px 30px 30px;
  margin: 20px;
  padding: 35px 0 35px 0;
}

.placeholder {
  font-size: var(--large-font);
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.8;
}

.insight {
  font-size: var(--small-font);
}

.status {
  background: transparent;
  font-size: var(--small-font);
  font-weight: 100;
  color: rgba(255, 255, 255, 1);
  padding: 1em;
  border: none;
  opacity: 0.6;
}

.status:hover {
  opacity: 0.8;
}
