:root {
  --large-font: 2.2rem;
  --medium-font: 1.5rem;
  --small-font: 1rem;

  --color-electric-blue: #007bff;
  --color-eco-green: #00cc66;
  --color-electric-yellow: #ffd600;
  --color-critical-red: #ff3d00;
  --color-light-gray: #ffffff;
  --color-dark-gray: #d3d3d3;

  --primary-color: var(--color-eco-green);
  --primary-opacity: 0.9;
  --secondary-color: var(--color-light-gray);
  --secondary-opacity: 0.9;
}

* {
  font-family: system-ui;
}

.btn {
  text-transform: unset !important;
}

body {
  color: rgba(255, 255, 255, 0.95);
  font-size: var(--small-font);
  font-weight: 240;
  overflow-y: auto;
  overflow-x: hidden;
  margin: 0;
  min-height: 100vh;
  background: linear-gradient(
    to bottom right,
    #000022,
    #000044,
    #002288,
    #0044cc,
    #0055ff
  );
}

.main {
  padding-top: 30px;
  margin: auto;
  max-width: 75vw;
}

.section {
  background-color: rgba(30, 30, 30, 0.5);
  border: 1px solid rgba(70, 70, 70, 0.9);
  border-radius: 0px 30px 30px 30px;
  margin: 20px;
  padding: 50px 0 50px 0;
}

.transparent {
  background-color: transparent;
  border: none;
  border-radius: none;
  padding: 0;
}

.placeholder {
  font-size: var(--large-font);
  height: 100%;
  display: flex;
  justify-content: center;
  align-itrems: center;
  opacity: 0.8;
}

.insight {
  font-size: var(--small-font);
}

.status {
  background: transparent;
  font-size: var(--small-font);
  font-weight: 100;
  color: rgba(255, 255, 255, 1);
  padding: 1rem;
  border: none;
  opacity: 0.6;
}

.status:hover {
  opacity: 0.8;
}

div.brush-info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding-bottom: 0.5rem;
}

span.last-updated {
  display: flex;
  justify-content: flex-end;
  padding-bottom: 8px;
  padding-right: 20px;
  font-size: 0.9rem;
}

div.month-panel {
  display: grid;
  grid-template-columns: 80% 20%;
  padding: 15px;
  gap: 15px;
}
